@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

@font-face {
  font-family: "NoirProRegular";
  src: url("./assets/fonts/NoirPro/NoirPro-Regular.ttf");

}

@font-face {
  font-family: "NoirProMedium";
  src: url("./assets/fonts/NoirPro/NoirPro-Medium.ttf");

}